@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');

:root {
    --puzzle-size: 10
}

body {
    background-color: lightgrey;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Ubuntu Mono', sans-serif;
}

.wrapper {
    max-width: 960px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 16px;
    padding-right: 16px;
}

.layout {
    display: flex;
    flex-direction: row;
}

.puzzle__wrapper {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

.puzzle {
    position: relative;
    width: 100%;
    padding-top: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;}

.puzzle__grid {
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    overflow: hidden;

    height: 100%;
    width: 100%;
    border: 2px solid grey;
    border-radius: 4px;

    /*grid stuff*/
    grid-template-columns: repeat(var(--puzzle-size), 1fr);
    grid-template-rows: repeat(var(--puzzle-size), 1fr);
}

.puzzle__cell {
    position: relative;
    font-weight: bold;
}

.puzzle__cell:hover {
    background-color: rgb(0, 0, 0, 0.20);
}

.puzzle__cell span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.puzzle__cell--selected-top {
    border: 2px solid green;
    border-top: none;
}

.puzzle__cell--selected-right {
    border: 2px solid green;
    border-right: none;
}

.puzzle__cell--selected-bottom {
    border: 2px solid green;
    border-bottom: none;
}

.puzzle__cell--selected-left {
    border: 2px solid green;
    border-left: none;
}

.puzzle__cell--selected-right-left {
    border: 2px solid green;
    border-right: none;
    border-left: none;
}

.puzzle__cell--selected-top-bottom {
    border: 2px solid green;
    border-top: none;
    border-bottom: none;
}

.layout__divider {
    margin: 0 24px;
    border: 1px solid grey;
}

.word-list__wrapper {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

.word-list {
}

@media only screen and (max-width: 600px) {
    .layout {
        flex-direction: column;
    }
    .layout__divider {
        display: none;
    }
}
