@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');

:root {
    --puzzle__grid-size: 10
}

body {
    margin: 0;
    padding: 0;
    
    font-family: 'Ubuntu Mono', monospace;

    background-color: white;
    color: rgba(0, 0, 0, 0.87);
}

#wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 480px;

    margin: none;
    margin-left: auto;
    margin-right: auto;

    padding: 0 16px;
}

.puzzle {
    background-color: lightGrey;
    border-radius: 4px;

    overflow: hidden;
    
    margin: 0 0;
}

.puzzle__header {
    display: flex;
    justify-content: space-between; 
    background-color: rgba(0, 0, 0, 0.20);
}

.puzzle__title {
    padding: 0 8px; 
    line-height: 48px;
}

.puzzle__title h3 {
    margin: 0;
}

.button {
    display: inline-block;
    height: 32px;

    margin: 8px;

    border: none;
    border-radius: 4px;

    padding 0 8px;

    font-family: inherit;
    font-weight: bold;

    -webkit-appearance: none;
    -moz-appearance: none;
}

.button:active {
    padding: 0 8px;
}

.button--new-puzzle {
    color: white;
    background-color: #035891;
}

.button--new-puzzle:active {
    background-color: #043769;
}

.puzzle__grid-container {
    position: relative;

    width: 100%;
    
    padding-top: 100%;
}

.puzzle__grid {
    display: grid;
    grid-template-columns: repeat(var(--puzzle__grid-size), 1fr);

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.puzzle__grid-cell {
    position: relative;
    font-weight: bold;
}

.puzzle__grid-cell span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.word__list {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    
    padding-left: 0;
}

.word__list li {
    text-align: center;
}
